.notification
  sample-notice
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        sample-user-name
      %a.chat-side__user--edit-user{ href: "" }
        %i.fa.fa-cog
      %a.chat-side__user--new-group{ href: "" }
        %i.fa.fa-pencil-square-o
  .chat-side__groups
    .chat-side__groups-list
      %a{ href: "" }
        .chat-side__group
          .chat-side__group-name
            sample-group-name
          .chat-side__group-message
            sample group message
      %a{ href: "" }
        .chat-side__group
          .chat-side__group-name
            sample-group-name
          .chat-side__group-message
            sample group message sample group message
      %a{ href: "" }
        .chat-side__group
          .chat-side__group-name
            sample-group-name
          .chat-side__group-message
            sample group message sample group message sample group message
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        sample-group-name
      %a.chat-main__header--group-edit-btn{ href: "" }
        Edit
    .chat-main__header-members
      MEMBER:
      %i
        sample-user-name
  .chat-main__body
  .chat-main__footer
