// mainly for background
$mainLightBlue: #38AEF0;
$mainMidnightBlue: #253141;
$mainDarkBlue: #2F3E51;
$mainSmokeWhite: #FAFAFA;
$mainDarkGray: #B8C3C7;

// mainly for border
$mainLightGray: #EEEEEE;

// mainly for text
$mainMidnightGray: #333333;
$mainGray: #999999;
$mainDarkBlueGray: #434A54;
