$mainLightBlue: #38AEF0;
$mainMidnightBlue: #253141;
$mainDarkBlue: #2F3E51;
$mainLightGray: #EEEEEE;
$mainMidnightGray: #333333;
$mainGray: #999999;
$mainSmokeWhite: #FAFAFA;
$mainDarkBlueGray: #434A54;
