@import "./reset";
@import "./config/variable";
@import "font-awesome";

body, html {
  height: 100%;
  width: 100%;
}

.notification {
  background-color: #38AEF0;
  height: 24px;
  width: 100%;
}

.chat-side {
  height: 100vh;
  width: 300px;
  &__user {
    background-color: #253141;
    height: 15%;
    width: 100%;
  }
  &__groups {
    background-color: #2f3E51;
    height: 85%;
    width: 100%;
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  &__header {
    height: 15%;
  }
  &__body {
    height: calc(100vh - 15% - 90px)
  }
  &__footer {
    height:90px;
  }
}
