@import "./reset";
@import "./config/variable";
@import "font-awesome";

body, html {
  height: 100%;
  width: 100%;
}

.notification {
  background-color: #38AEF0;
  height: 24px;
  width: 100%;
}

.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  &__user {
    background-color: #253141;
    height: 15%;
    width: 100%;
    position: relative;
    &-content {
      height: 50px;
      width: calc(100% - 40px);
      line-height: 50px;
      margin: auto 20px;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    &-name {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      position: relative;
      display: inline-block;
    }
  }
  &__groups {
    background-color: #2f3E51;
    height: 85%;
    width: 100%;
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  &__header {
    height: 15%;
  }
  &__body {
    height: calc(100vh - 15% - 90px)
  }
  &__footer {
    height:90px;
    width: 100%;
    background-color: #B8C3C7;
  }
}
