@import "./reset";
@import "./config/variable";
@import "font-awesome";

body, html {
  height: 100%;
  width: 100%;
}

.fa {
  color: #FFF;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.notification {
  background-color: #38AEF0;
  color: #FFFFFF;
  text-align: center;
}

.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  &__user {
    background-color: #253141;
    line-height: 100px;
    padding: 0 20px;
    width: calc(100% - 40px);
    &--name {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      float: left;
    }
    &--new-group {
      float: right
    }
    &--edit-user {
      margin-left: 7px;
      float: right;
    }
  }
  &__groups {
    background-color: #2f3E51;
    height: calc(100% - 100px);
    color: #FFFFFF;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  &__group {
    padding: 20px;
    &-name {
      font-size: 15px;
    }
    &-message {
      font-size: 11px;
      padding-top: 5px;
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  &__header {
    height: 99px;
    padding: 0 40px;
    border-bottom: 1px solid #EEEEEE;
    &--top {
      &-name {
        font-size: 20px;
        color: #333333;
        margin: 35px 0 15px;
        float: left;
      }
      &-edit-btn {
        font-size: 12px;
        color: #38AEF0;
        text-decoration: none;
        line-height: 38px;
        padding: 0 20px;
        border: 1px solid #38AEF0;
        margin-top: 28px;
        float: right;
      }
    }
    &--bottom {
      height: 19px;
      font-size: 12px;
      color: #999999;
      overflow: scroll;
    }
  }
  &__body {
    height: calc(100vh - 190px);
    overflow: scroll;
    &--messages {
      width: calc(100% - 80px);
      height: calc(100% - 92px);
      padding: 46px 40px;
    }
  }
  &__message {
    width: 100%;
    padding-bottom: 40px;
    &--top {
      line-height: 24px;
      padding-bottom: 10px;
      &-name {
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        float: left;
      }
      &-date-and-time {
        padding-left: 10px;
        font-size: 12px;
        color: #999999;
        float: left;
      }
    }
    &--bottom {
        font-size: 14px;
        color: #434A54;
    }
  }
  &__footer {
    height:90px;
    width: 100%;
    background-color: #B8C3C7;
  }
}
